<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()" >
    <div class="mb-3">
        <input placeholder="E-mail" class="form-control" formControlName="email"/>
        <app-mensagem
          *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] &&
                 novoUsuarioForm.get('email')?.touched"
          mensagem="E-mail obrigatório"
        ></app-mensagem>

        <app-mensagem
          *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] &&
                 novoUsuarioForm.get('email')?.touched"
          mensagem="E-mail no formato incorreto"
        ></app-mensagem>
    </div>

    <div class="mb-3">
        <input placeholder="Nome completo" class="form-control" formControlName="fullName" />
        <app-mensagem
          *ngIf="novoUsuarioForm.get('fullName')?.errors &&
                 novoUsuarioForm.get('fullName')?.touched"
          mensagem="Nome incompleto"
        ></app-mensagem>
    </div>

    <div class="mb-3">
        <input placeholder="Usuário" class="form-control" formControlName="userName" />
        <app-mensagem
          *ngIf="novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
                 novoUsuarioForm.get('userName')?.touched"
          mensagem="Usuário deve ser em letra minúscula"
        ></app-mensagem>

        <app-mensagem
          *ngIf="novoUsuarioForm.get('userName')?.errors?.['vazio'] &&
                 novoUsuarioForm.get('userName')?.touched"
          mensagem="Campo obrigatório"
        ></app-mensagem>

        <app-mensagem
          *ngIf="novoUsuarioForm.get('userName')?.errors?.['minLength'] &&
                 novoUsuarioForm.get('userName')?.touched"
          mensagem="O nome de usuário deve conter no mínimo 4 caracteres"
        ></app-mensagem>

        <app-mensagem
          *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
          mensagem="Usuário já existente"
        ></app-mensagem>

    </div>

    <div class="mb-3">
        <input type="password" placeholder="Senha" class="form-control" formControlName="password" />
        <app-mensagem
          *ngIf="novoUsuarioForm.get('password')?.errors?.['senhaForte'] &&
                 novoUsuarioForm.get('password')?.touched"
          mensagem="Sua senha deve conter caracteres minúsculos, maiúsculos e numéricos"
        ></app-mensagem>

        <app-mensagem
          *ngIf="novoUsuarioForm.get('password')?.errors?.['minLength'] &&
                 novoUsuarioForm.get('password')?.touched"
          mensagem="A senha deve conter no mínimo 6 caracteres"
        ></app-mensagem>

        <app-mensagem
          *ngIf="novoUsuarioForm.get('password')?.errors?.['vazio'] &&
                 novoUsuarioForm.get('password')?.touched"
          mensagem="Campo obrigatório"
        ></app-mensagem>

        <app-mensagem
          *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']"
          mensagem="Senha deve ser diferente de usuário"
        >
        </app-mensagem>


    </div>

    <div class="d-grid gap-2">
      <button class="btn btn-primary btn-block">Cadastro</button>
    </div>
</form>

<p>Já é um usuário? <a [routerLink]="['']">Faça Login</a></p>
